<div class="row my-4">
  <div class="col-md-12">
    <h3>Add Post</h3>
    <hr/>
    <form (ngSubmit)="onAddPost()" [formGroup]="postForm">
      <div class="mb-3">
        <label>Title</label>
        <input class="form-control" formControlName="title" type="text"/>

        <div
          *ngIf="postForm.get('title').touched && !postForm.get('title').valid"
        >
          <div *ngIf="postForm.get('title').errors.required">
            Title is required
          </div>
          <div *ngIf="postForm.get('title').errors.minlength">
            Title should be minimum 6 characters
          </div>
        </div>
      </div>
      <div class="mb-3">
        <label>Description</label>
        <textarea class="form-control" formControlName="description"></textarea>
        <div>{{ showDescriptionErrors() }}</div>
      </div>

      <div class="my-3">
        <button
          [disabled]="!postForm.valid"
          class="btn btn-primary"
          type="submit"
        >
          Add Post
        </button>
      </div>
    </form>
  </div>
</div>
